<ion-card>
    <ion-card-header>

        <ion-card-subtitle class="noticia-source-name"> <span class="text-primary">{{ index }}. </span> {{new.source.name}}</ion-card-subtitle>
        <ion-card-title (click)="showNew()">{{new.title}}</ion-card-title>

        <div class="new-more">
            <ion-button fill="clear"
                        size="small"
                        (click)="launchMenu()">
                <ion-icon slot="icon-only"
                          name="ellipsis-vertical">
                </ion-icon>
            </ion-button>
        </div>

    </ion-card-header>

    <ion-img *ngIf="new.urlToImage"
             [src]="new.urlToImage"
             class="animate__animated animate__fadeIn animate__fast"
             (click)="showNew()"></ion-img>

    <ion-card-content>
        <p>
            {{new.description}}
        </p>
    </ion-card-content>

</ion-card>